@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('fonts/GoogleSans-Bold.ttf');
}
@font-face {
  font-family: 'GoogleSans-Regular';
  src: url('fonts/GoogleSans-Regular.ttf');
}
.App {
  font-family: 'GoogleSans-Regular', sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  height: 100vh;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
